@{
    ViewData["Title"] = "To Do List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<ProductCompareDotNet.Models.Product>

@foreach (var product in Model)
{
    <div class="center">
        <h2>@Html.DisplayFor(x => product.ProductName)</h2>
        <img src="http://www.tuvie.com/wp-content/uploads/flow-healthcare-gadget2.jpg" height="100" width="100" />
    </div>
}


<div class="row">
<div class="col-sm-6">
    <div class="center">

        <h2>Hated it</h2>

        <form action="/Products/LeaveComment" method="post">

            <textarea name="Comment" placeholder="What'd You Hate?'"></textarea>
            <input hidden name="ProdId" placeholder="Category Id" value="@ViewBag.ProdId" />
            <input hidden name="like" placeholder="Category Id" value="False" />

            <br />
            <input class="btn btn-info" type="submit" value="Submit Comment" />
        </form>

        </div>
    </div>

<div class="col-sm-6">
    <div class="center">
    <h2>Loved it</h2>
    <form action="/Products/LeaveComment" method="post">

        <textarea name="Comment" placeholder="What'd You Love?'"></textarea>
        <input hidden name="ProdId" placeholder="Category Id" value="@ViewBag.ProdId" />
        <input hidden name="like" placeholder="Category Id" value="True" />

        <br />
        <input class="btn btn-info" type="submit" value="Submit Comment" />
    </form>
        </div>

</div>



<div class="col-sm-6 hate">
@foreach (var product in Model)
{



    @foreach (var comment in product.Comments)

    {
        @if (comment.Like == false)
        {
            <p class="floatLeft">@Html.DisplayFor(x => comment.Statement)</p>

                <p class="floatLeft">@Html.DisplayFor(x => comment.Like)</p>
                <p class="floatLeft">User: @Html.DisplayFor(x => comment.User)</p>

                <br />

        }
    
    }
}

</div>

<div class="col-sm-6 love">
    @foreach (var product in Model)
    {



        @foreach (var comment in product.Comments)

        {
            @if (comment.Like == true)
            {
                <p class="floatLeft">@Html.DisplayFor(x => comment.Statement)</p>

                <p class="floatLeft">@Html.DisplayFor(x => comment.Like)</p>
                <br />

            }
           

        }
    }

</div>
    </div>





