<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/Styles.css" />
    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <script src="~/js/Scripts.js"></script>

</head>
<body>
    <div class="container">

        <ul class="nav nav-pills">
            <li role="presentation" class="active">@Html.ActionLink("Home", "Index", "Categories")</li>
            @*<li role="presentation">@Html.ActionLink("Add Category", "CreateRoute", "Categories")</li>
            <li role="presentation">@Html.ActionLink("Add Product", "CreateRoute", "Products")</li>
            <li role="presentation">@Html.ActionLink("Add Comment", "CreateRoute", "Comments")</li>*@
            <li role="presentation">@Html.ActionLink("New User", "Register", "Account")</li>
            <li role="presentation">@Html.ActionLink("LoginHome", "Index", "Account")</li>
            <li role="presentation">@Html.ActionLink("Roles", "Index", "Roles")</li>
            <li role="presentation">@Html.ActionLink("ManageRoles", "ManageUserRoles", "Roles")</li>






        </ul>
        @RenderBody()

        <br />

        @*<button class="btn btn-success">@Html.ActionLink("People", "Index", "Persons")</button>
            <button class="btn btn-info">@Html.ActionLink("Locations", "Index", "Locations")</button>
            <button class="btn btn-warning">@Html.ActionLink("Experiences", "Index", "Experiences")</button>*@
    </div>
</body>
</html>