<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/Styles.css" />
    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">

    <script src="~/js/Scripts.js"></script>

</head>
@using System.Security.Claims

<body>
    <div class="container">

        <ul class="nav nav-pills">
            <li role="presentation" class="active">@Html.ActionLink("Home", "Index", "Categories")</li>
            <li class="btn btn-info " role="presentation">@Html.ActionLink("New User", "Register", "Account")</li>
            
            
            @if (!User.IsSignedIn())

            {
                <li class="btn btn-info " role="presentation">@Html.ActionLink("Log In", "Login", "Account")</li>


            }
            @if (User.IsSignedIn())

            {
                <li class="btn btn-info " role="presentation">@Html.ActionLink("Profile", "Index", "Account", new { name = @User.GetUserName() })</li>


            }
            <li class="btn btn-danger " role="presentation">@Html.ActionLink("Roles", "Index", "Roles")</li>
            <li class="btn btn-danger " role="presentation">@Html.ActionLink("ManageRoles", "ManageUserRoles", "Roles")</li>
   

            @if (User.IsSignedIn())
            {
                @using (Html.BeginForm("LogOff", "Account"))
                {
                    <input type="submit" class="btn btn-default" value="Log out" />
                }

            }






        </ul>
        

     
        @RenderBody()

        <br />

        @*<button class="btn btn-success">@Html.ActionLink("People", "Index", "Persons")</button>
            <button class="btn btn-info">@Html.ActionLink("Locations", "Index", "Locations")</button>
            <button class="btn btn-warning">@Html.ActionLink("Experiences", "Index", "Experiences")</button>*@
    </div>
</body>
</html>