
@{
    ViewData["Title"] = "ProductShare";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ProductCompareDotNet.Models.Comment
<html>
<head>
    <title>Comment - Create</title>
</head>
<body>
    <h2>Create Person</h2>
    <hr />
    <h4>Add a new person</h4>
    @using (Html.BeginForm())
    {
        @Html.LabelFor(model => model.Statement)
        @Html.TextBoxFor(model => model.Statement)

        @Html.LabelFor(model => model.ProductId)
        @Html.TextBoxFor(model => model.ProductId)

        @Html.LabelFor(model => model.Like)
        @Html.TextBoxFor(model => model.Like)

        <input type="submit" value="Add New Comment" />
    }
</body>
</html>