@{
    ViewData["Title"] = "To Do List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IList<ProductCompareDotNet.Models.Category>

<h1>Get Reviews Before You Buy!</h1>

<button class="showSearch btn btn-success">Search For A Product</button>
<button class="showAdd btn btn-info">No Couldn't find one? Start A Discussion!</button>


@*<div class="bigSearch">
    <p>Thinking of making a purchase? See what people are saying first</p>
    <form>
    
        <input />
        <button class="btn btn-warning"type="submit">Search</button>
    </form>
</div>*@

<div class="bigAdd">
    <form class="CategoryForm">
        <p>Curious about a new product? Or furious about one you have? Lets talk about it</p>
       <input type="text" name="catName"/>

        <input class="btn btn-danger" type="submit" value="Submit Category" />

    </form>



</div>


@foreach (var category in Model)
{
    <h2>@Html.DisplayFor(x => category.CategoryName): @Html.ActionLink("Details", "CategoryList", "Categories",  new { id = category.CategoryId })</h2>
    <div class="container-fluid main">

        @foreach (var product in category.Products)
        {
            @*<li>@Html.ActionLink(product.ProductName, "ProductList", "Products", new { id = product.ProductId })</li>
                <li>
                    @Html.DisplayFor(x => product.ProductId)</li>
                <hr />*@
                <div class="content">

                    <div class="product-box">
                        <div class="img-wrap">
                            <img src="http://www.thetoyinsider.com/wp/wp-content/uploads/2015/09/Tomy.toddler_jumbo_jamboree.jpg" height="100" width="100">
                        </div>

                        <div class="product-name">
                            @Html.ActionLink(product.ProductName, "ProductList", "Products", new { id = product.ProductId })
                        </div>
                        <div class="product-sale-price">
                            $@product.ProductId
                            
                        </div>
                        <div class="product-likes-and-comments">
                            <div class="product-comments" id="shopping-cart-box">
                                <i class="fa fa-commenting" aria-hidden="true" style="font-size:24px;position:relative;top:-2px;"></i>
                            </div>

                            <div class="votes">
                            <i class="fa fa-arrow-circle-down" aria-hidden="true" >@product.ProductUpVotes</i>
                            <i class="fa fa-arrow-circle-up" aria-hidden="true">@product.ProductDownVotes</i>
                            </div>
                         
                        </div>
                    </div>
                </div>
        }
    </div>

}



