@{
    ViewData["Title"] = "To Do List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IList<ProductCompareDotNet.Models.Category>

@*<h1>Get Reviews Before You Buy!</h1>

<button class="showSearch btn btn-success">Search For A Product</button>
<button class="showAdd btn btn-info">No Couldn't find one? Start A Discussion!</button>*@


@*<div class="bigSearch">
    <p>Thinking of making a purchase? See what people are saying first</p>
    <form>
    
        <input />
        <button class="btn btn-warning"type="submit">Search</button>
    </form>
</div>*@

@*<div class="bigAdd">
    <form class="CategoryForm">
        <p>Curious about a new product? Or furious about one you have? Lets talk about it</p>
       <input type="text" name="catName"/>

        <input class="btn btn-danger" type="submit" value="Submit Category" />

    </form>

</div>*@

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron text-center">
                <h1>Lets Talk About Stuff</h1>
                <form action="/Categories/CreateProduct" method="post">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="input-group input-group-lg">
                            <input name="Name" type="text" class="form-control" placeholder="Thinking About Buying Something?">
                            <input hidden="" name="CatId" placeholder="Category Id" value="1">
                            <input type="submit" value="GOGO" />
                        </div>
                    </div>
                </form>



                @*<form action="/Categories/CreateProduct" method="post">
                    <input name="Name" placeholder="Add A New Product">
                    <input hidden="" name="CatId" placeholder="Category Id" value="1">
                    <input class="btn btn-success" type="submit" value="Submit Product">
                </form>*@



                <br><br>
            </div>
        </div>
    </div>
</div>

@foreach (var category in Model)
{
    <h2>@Html.DisplayFor(x => category.CategoryName): @Html.ActionLink("Details", "CategoryList", "Categories",  new { id = category.CategoryId })</h2>
    <div class="container-fluid main">

        @foreach (var product in category.Products)
        {
            @*<li>@Html.ActionLink(product.ProductName, "ProductList", "Products", new { id = product.ProductId })</li>
                <li>
                    @Html.DisplayFor(x => product.ProductId)</li>
                <hr />*@
                <div class="content">

                    <div class="product-box">
                        <div class="img-wrap">
                            <img src="http://www.thetoyinsider.com/wp/wp-content/uploads/2015/09/Tomy.toddler_jumbo_jamboree.jpg" height="100" width="100">
                        </div>

                        <div class="product-name">
                            @Html.ActionLink(product.ProductName, "ProductList", "Products", new { id = product.ProductId })
                        </div>
                        <div class="product-sale-price">
                            $@product.ProductId
                            
                        </div>
                        <div class="product-likes-and-comments">
                            <div class="product-comments" id="shopping-cart-box">
                                <a href="/Products/ProductList/@product.ProductId"><i class="fa fa-commenting" aria-hidden="true" style="font-size:47px;position:relative;top:-2px;"></i></a>
                            </div>

                            <div class="votes">
                                <form class="downvote">
                                    <input type="number" name="id" hidden value="@product.ProductId" />
                                    <button><i class="fa fa-arrow-circle-down down-@product.ProductId" aria-hidden="true">@product.ProductDownVotes</i></button>

                                </form>

                                <form class="upvote">
                                    <input type="number" name="id" hidden value="@product.ProductId" />
                                    <button><i class="fa fa-arrow-circle-up up-@product.ProductId" aria-hidden="true">@product.ProductUpVotes</i></button>

                                </form>

                            </div>
                         
                        </div>
                    </div>
                </div>
        }
    </div>

}



